.break-dot {
  background: #ff7575;
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.break-dot-active {
  background: #ff2222;
}

.whole-line {
  background: lightblue;
}
